EtiquetasBlumar/Connected Services/BlumarWS/rfcNet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ZMOV_10031">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="tns:request_ZMOV_10031" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="request_ZMOV_10031" />
      <s:element name="ZMOV_10031Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZMOV_10031Result" type="tns:responce_ZMOV_10031" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="responce_ZMOV_10031">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DATOS_HU" type="tns:ArrayOfZMOV_10031_DATOS_HU" />
          <s:element minOccurs="0" maxOccurs="1" name="GT_RETUNR" type="tns:ArrayOfZMOV_10031_GT_RETUNR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZMOV_10031_DATOS_HU">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZMOV_10031_DATOS_HU" nillable="true" type="tns:ZMOV_10031_DATOS_HU" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZMOV_10031_DATOS_HU">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EXIDV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z_NO_SOL_SENASA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z_NO_EXP_SENASA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z_TECNOLOG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z_TERMOGRAFO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VEGR1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VEGR2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VEGR3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VEGR4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VEGR5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZLDDAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZPPLAN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VHILM_KU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZTEMP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZMOV_10031_GT_RETUNR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZMOV_10031_GT_RETUNR" nillable="true" type="tns:ZMOV_10031_GT_RETUNR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZMOV_10031_GT_RETUNR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUMBER" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LOG_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LOG_MSG_NO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE_V1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE_V2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE_V3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE_V4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PARAMETER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ROW" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FIELD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SYSTEM" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZSD_10001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="tns:request_ZSD_10001" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="request_ZSD_10001">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="I_DATENT" type="tns:ZSD_10001_I_DATENT" />
          <s:element minOccurs="0" maxOccurs="1" name="CREATED_ITEMS" type="tns:ArrayOfZSD_10001_CREATED_ITEMS" />
          <s:element minOccurs="0" maxOccurs="1" name="DATES" type="tns:ArrayOfZSD_10001_DATES" />
          <s:element minOccurs="0" maxOccurs="1" name="DELIVERIES" type="tns:ArrayOfZSD_10001_DELIVERIES" />
          <s:element minOccurs="0" maxOccurs="1" name="DLV_ITEMS" type="tns:ArrayOfZSD_10001_DLV_ITEMS" />
          <s:element minOccurs="0" maxOccurs="1" name="ET_ERROR" type="tns:ArrayOfZSD_10001_ET_ERROR" />
          <s:element minOccurs="0" maxOccurs="1" name="EXTENSION_IN" type="tns:ArrayOfZSD_10001_EXTENSION_IN" />
          <s:element minOccurs="0" maxOccurs="1" name="EXTENSION_OUT" type="tns:ArrayOfZSD_10001_EXTENSION_OUT" />
          <s:element minOccurs="0" maxOccurs="1" name="IT_COMENTARIOS" type="tns:ArrayOfZSD_10001_IT_COMENTARIOS" />
          <s:element minOccurs="0" maxOccurs="1" name="IT_PRECIOS" type="tns:ArrayOfZSD_10001_IT_PRECIOS" />
          <s:element minOccurs="0" maxOccurs="1" name="RETURN" type="tns:ArrayOfZSD_10001_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="SERIAL_NUMBERS" type="tns:ArrayOfZSD_10001_SERIAL_NUMBERS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10001_I_DATENT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KUNNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VKORG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VTWEG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SPART" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LFART" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VSTEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATE_USAGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEBUG_FLG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NO_DEQUEUE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LOTNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BOKNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZRUT_CHO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNOM_CHO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZPATENTE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZSIVAX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZRUT_DES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZDIR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZCOMUNA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZCIUDAD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZGIRO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OPE_VEN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TRA_INT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OTR_NVEN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10001_CREATED_ITEMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10001_CREATED_ITEMS" nillable="true" type="tns:ZSD_10001_CREATED_ITEMS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10001_CREATED_ITEMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="REF_DOC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="REF_ITEM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DELIV_NUMB" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DELIV_ITEM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MATERIAL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DLV_QTY" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="SALES_UNIT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SALES_UNIT_ISO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATERIAL_EXTERNAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATERIAL_GUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATERIAL_VERSION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATERIAL_LONG" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10001_DATES">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10001_DATES" nillable="true" type="tns:ZSD_10001_DATES" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10001_DATES">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TIMETYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LDDAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LDUHR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10001_DELIVERIES">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10001_DELIVERIES" nillable="true" type="tns:ZSD_10001_DELIVERIES" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10001_DELIVERIES">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DELIV_NUMB" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10001_DLV_ITEMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10001_DLV_ITEMS" nillable="true" type="tns:ZSD_10001_DLV_ITEMS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10001_DLV_ITEMS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="REF_ITEM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MATERIAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ITEM_CATEG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DLV_QTY" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="SALES_UNIT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SALES_UNIT_ISO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PLANT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STGE_LOC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHORT_TEXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DELIV_NUMB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATERIAL_EXTERNAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATERIAL_GUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATERIAL_VERSION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REQ_SEGMENT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATERIAL_LONG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REQ_SEG_LONG" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10001_ET_ERROR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10001_ET_ERROR" nillable="true" type="tns:ZSD_10001_ET_ERROR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10001_ET_ERROR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PARRAFO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VALOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERROR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10001_EXTENSION_IN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10001_EXTENSION_IN" nillable="true" type="tns:ZSD_10001_EXTENSION_IN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10001_EXTENSION_IN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="STRUCTURE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VALUEPART1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VALUEPART2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VALUEPART3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VALUEPART4" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10001_EXTENSION_OUT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10001_EXTENSION_OUT" nillable="true" type="tns:ZSD_10001_EXTENSION_OUT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10001_EXTENSION_OUT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="STRUCTURE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VALUEPART1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VALUEPART2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VALUEPART3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VALUEPART4" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10001_IT_COMENTARIOS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10001_IT_COMENTARIOS" nillable="true" type="tns:ZSD_10001_IT_COMENTARIOS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10001_IT_COMENTARIOS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TDFORMAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TDLINE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10001_IT_PRECIOS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10001_IT_PRECIOS" nillable="true" type="tns:ZSD_10001_IT_PRECIOS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10001_IT_PRECIOS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="REF_ITEM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KSCHL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KBETR" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="WAERS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10001_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10001_RETURN" nillable="true" type="tns:ZSD_10001_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10001_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUMBER" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LOG_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LOG_MSG_NO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE_V1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE_V2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE_V3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE_V4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PARAMETER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ROW" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FIELD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SYSTEM" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10001_SERIAL_NUMBERS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10001_SERIAL_NUMBERS" nillable="true" type="tns:ZSD_10001_SERIAL_NUMBERS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10001_SERIAL_NUMBERS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="REF_DOC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="REF_ITEM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SERIALNO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZSD_10001Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZSD_10001Result" type="tns:responce_ZSD_10001" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="responce_ZSD_10001">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="E_DELIVERY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="E_FOLIO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="E_NUM_DELIVERIES" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CREATED_ITEMS" type="tns:ArrayOfZSD_10001_CREATED_ITEMS" />
          <s:element minOccurs="0" maxOccurs="1" name="DATES" type="tns:ArrayOfZSD_10001_DATES" />
          <s:element minOccurs="0" maxOccurs="1" name="DELIVERIES" type="tns:ArrayOfZSD_10001_DELIVERIES" />
          <s:element minOccurs="0" maxOccurs="1" name="DLV_ITEMS" type="tns:ArrayOfZSD_10001_DLV_ITEMS" />
          <s:element minOccurs="0" maxOccurs="1" name="ET_ERROR" type="tns:ArrayOfZSD_10001_ET_ERROR" />
          <s:element minOccurs="0" maxOccurs="1" name="EXTENSION_IN" type="tns:ArrayOfZSD_10001_EXTENSION_IN" />
          <s:element minOccurs="0" maxOccurs="1" name="EXTENSION_OUT" type="tns:ArrayOfZSD_10001_EXTENSION_OUT" />
          <s:element minOccurs="0" maxOccurs="1" name="IT_COMENTARIOS" type="tns:ArrayOfZSD_10001_IT_COMENTARIOS" />
          <s:element minOccurs="0" maxOccurs="1" name="IT_PRECIOS" type="tns:ArrayOfZSD_10001_IT_PRECIOS" />
          <s:element minOccurs="0" maxOccurs="1" name="RETURN" type="tns:ArrayOfZSD_10001_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="SERIAL_NUMBERS" type="tns:ArrayOfZSD_10001_SERIAL_NUMBERS" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZSD_10003">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="tns:request_ZSD_10003" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="request_ZSD_10003">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ALMACEN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CENTRO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CONTABILIZAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMER_DATA" type="tns:ZSD_10003_CUSTOMER_DATA" />
          <s:element minOccurs="0" maxOccurs="1" name="PEDIDO_VENTAS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GT_PARTICION" type="tns:ArrayOfZSD_10003_GT_PARTICION" />
          <s:element minOccurs="0" maxOccurs="1" name="GT_UNID_MANIPULACION" type="tns:ArrayOfZSD_10003_GT_UNID_MANIPULACION" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10003_CUSTOMER_DATA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ZHOJA_RUTA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZLIC_CONDUCTOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZID_FISCAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZALMACEN_DESTINO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZETD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZTERMOGRA1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZTERMOGRA2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZLOTE1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZLOTE2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZCONTENEDOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNUMSELLO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZCHOFER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZRUT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNOTRACTOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZPATENTE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZDUS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZNCIF" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZMODOTRANSP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZADUANASALIDA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZMATEMB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZAGENTEADUANA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZDATADIC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNAVE_EMB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZPUERTO_DES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZHORA_SALIDA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZTELEFONO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZEMP_TRANSP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNUMSELL2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNUMSELL3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNUMSELL5" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZNUMSELL6" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNUMSELL7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZCODAGENCIA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZCONSIGNATARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZDUS_LG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZMARCA_TERMOGR1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZMARCA_TERMOGR2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZNAVIERA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZPUERTO_DESCARG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZEMBARCADOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZTIPO_UNIDAD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZBOOKING" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZDEPOSITO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZSET_T" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZSET_CBM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZEMISION_BL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZAWB_BL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZFLETE_CARG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZOBSERV_COMEX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZCOD_AGENTE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZPALLET" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZSPS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZCHEP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNOM_COND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZRUT_COND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZOBSERV_PLANTA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZEXPORTADOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZAGENT_ADUANA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZEMBARCADOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNAVIERA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZPTO_EMBARQUE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZPTO_DESCARGA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZPAIS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZPAIS_CONSIG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZETA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZCENTRO_DESP1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZFECHA_HORA_PL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZCENTRO_DESP2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZFECHA_HORA_PTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZFECHA_HORA_COF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZFECHA_HORA_SF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZOBSERV_PLANTA2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZHORA_PL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZHORA_PTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZFIRMA_ANEX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZCENTRO_DESP3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZFECHA2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZHORA_PL2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZFECHA3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZHORA_PL3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNRO_VIAJE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZPATENTE35" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNROPLANI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OBS_PLANTA" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10003_GT_PARTICION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10003_GT_PARTICION" nillable="true" type="tns:ZSD_10003_GT_PARTICION" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10003_GT_PARTICION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MATERIAL_HU" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CANTIDAD_LOTE" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LOTE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CENTRO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ALMACEN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10003_GT_UNID_MANIPULACION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10003_GT_UNID_MANIPULACION" nillable="true" type="tns:ZSD_10003_GT_UNID_MANIPULACION" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10003_GT_UNID_MANIPULACION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EXIDV" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZSD_10003Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZSD_10003Result" type="tns:responce_ZSD_10003" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="responce_ZSD_10003">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GT_PARTICION" type="tns:ArrayOfZSD_10003_GT_PARTICION" />
          <s:element minOccurs="0" maxOccurs="1" name="GT_RETUNR" type="tns:ArrayOfZSD_10003_GT_RETUNR" />
          <s:element minOccurs="0" maxOccurs="1" name="GT_UNID_MANIPULACION" type="tns:ArrayOfZSD_10003_GT_UNID_MANIPULACION" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSD_10003_GT_RETUNR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSD_10003_GT_RETUNR" nillable="true" type="tns:ZSD_10003_GT_RETUNR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSD_10003_GT_RETUNR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUMBER" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LOG_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LOG_MSG_NO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE_V1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE_V2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE_V3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE_V4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PARAMETER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ROW" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FIELD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SYSTEM" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZMOV_30005">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="tns:request_ZMOV_30005" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="request_ZMOV_30005">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LT_HUM_UPDATE_HEADER" type="tns:ArrayOfZMOV_30005_LT_HUM_UPDATE_HEADER" />
          <s:element minOccurs="0" maxOccurs="1" name="IT_EXIDV" type="tns:ArrayOfZMOV_30005_IT_EXIDV" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZMOV_30005_LT_HUM_UPDATE_HEADER">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZMOV_30005_LT_HUM_UPDATE_HEADER" nillable="true" type="tns:ZMOV_30005_LT_HUM_UPDATE_HEADER" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZMOV_30005_LT_HUM_UPDATE_HEADER">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EXIDV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FIELD_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FIELD_VALUE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZMOV_30005_IT_EXIDV">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZMOV_30005_IT_EXIDV" nillable="true" type="tns:ZMOV_30005_IT_EXIDV" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZMOV_30005_IT_EXIDV">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EXIDV" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZMOV_30005Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZMOV_30005Result" type="tns:responce_ZMOV_30005" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="responce_ZMOV_30005">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IT_EXIDV" type="tns:ArrayOfZMOV_30005_IT_EXIDV" />
          <s:element minOccurs="0" maxOccurs="1" name="LT_HUM_UPDATE_HEADER" type="tns:ArrayOfZMOV_30005_LT_HUM_UPDATE_HEADER" />
          <s:element minOccurs="0" maxOccurs="1" name="LT_MESSAGES" type="tns:ArrayOfZMOV_30005_LT_MESSAGES" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZMOV_30005_LT_MESSAGES">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZMOV_30005_LT_MESSAGES" nillable="true" type="tns:ZMOV_30005_LT_MESSAGES" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZMOV_30005_LT_MESSAGES">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EXIDV" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="POSNR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HU_ITEM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZEILE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGTY" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MSGNO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGV1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGV2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGV3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGV4" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZMOV_10000">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="tns:request_ZMOV_10000" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="request_ZMOV_10000">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CHARG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZMOV_10000Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZMOV_10000Result" type="tns:responce_ZMOV_10000" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="responce_ZMOV_10000">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CHAR_OF_BATCH" type="tns:ArrayOfZMOV_10000_CHAR_OF_BATCH" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZMOV_10000_CHAR_OF_BATCH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZMOV_10000_CHAR_OF_BATCH" nillable="true" type="tns:ZMOV_10000_CHAR_OF_BATCH" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZMOV_10000_CHAR_OF_BATCH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ATNAM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATWTB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XDELETE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHAR_NOT_VALID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ATINN" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ATWTB_LONG" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZMOV_10002">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="tns:request_ZMOV_10002" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="request_ZMOV_10002">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IR_CHARG" type="tns:ArrayOfZMOV_10002_IR_CHARG" />
          <s:element minOccurs="0" maxOccurs="1" name="IV_MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IV_PROC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IV_SPRAS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZMOV_10002_IR_CHARG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZMOV_10002_IR_CHARG" nillable="true" type="tns:ZMOV_10002_IR_CHARG" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZMOV_10002_IR_CHARG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SIGN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OPTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LOW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HIGH" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZMOV_10002Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZMOV_10002Result" type="tns:responce_ZMOV_10002" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="responce_ZMOV_10002">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IR_CHARG" type="tns:ArrayOfZMOV_10002_IR_CHARG" />
          <s:element minOccurs="0" maxOccurs="1" name="LT_DATOS_LOTES" type="tns:ArrayOfZMOV_10002_LT_DATOS_LOTES" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZMOV_10002_LT_DATOS_LOTES">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZMOV_10002_LT_DATOS_LOTES" nillable="true" type="tns:ZMOV_10002_LT_DATOS_LOTES" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZMOV_10002_LT_DATOS_LOTES">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SPRAS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHARG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAKTX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FABRICACION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COD_ESPECIE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESPECIE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FORMATO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODUCTOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRE_PRODUCTOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO8" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO9" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO10" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO11" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO12" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO13" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO14" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO15" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO16" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO17" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO18" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO19" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO20" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO21" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO22" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO23" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO24" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO25" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO26" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO27" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO28" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO29" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAMPO30" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ZMOV_10031SoapIn">
    <wsdl:part name="parameters" element="tns:ZMOV_10031" />
  </wsdl:message>
  <wsdl:message name="ZMOV_10031SoapOut">
    <wsdl:part name="parameters" element="tns:ZMOV_10031Response" />
  </wsdl:message>
  <wsdl:message name="ZSD_10001SoapIn">
    <wsdl:part name="parameters" element="tns:ZSD_10001" />
  </wsdl:message>
  <wsdl:message name="ZSD_10001SoapOut">
    <wsdl:part name="parameters" element="tns:ZSD_10001Response" />
  </wsdl:message>
  <wsdl:message name="ZSD_10003SoapIn">
    <wsdl:part name="parameters" element="tns:ZSD_10003" />
  </wsdl:message>
  <wsdl:message name="ZSD_10003SoapOut">
    <wsdl:part name="parameters" element="tns:ZSD_10003Response" />
  </wsdl:message>
  <wsdl:message name="ZMOV_30005SoapIn">
    <wsdl:part name="parameters" element="tns:ZMOV_30005" />
  </wsdl:message>
  <wsdl:message name="ZMOV_30005SoapOut">
    <wsdl:part name="parameters" element="tns:ZMOV_30005Response" />
  </wsdl:message>
  <wsdl:message name="ZMOV_10000SoapIn">
    <wsdl:part name="parameters" element="tns:ZMOV_10000" />
  </wsdl:message>
  <wsdl:message name="ZMOV_10000SoapOut">
    <wsdl:part name="parameters" element="tns:ZMOV_10000Response" />
  </wsdl:message>
  <wsdl:message name="ZMOV_10002SoapIn">
    <wsdl:part name="parameters" element="tns:ZMOV_10002" />
  </wsdl:message>
  <wsdl:message name="ZMOV_10002SoapOut">
    <wsdl:part name="parameters" element="tns:ZMOV_10002Response" />
  </wsdl:message>
  <wsdl:portType name="rfcNetSoap">
    <wsdl:operation name="ZMOV_10031">
      <wsdl:input message="tns:ZMOV_10031SoapIn" />
      <wsdl:output message="tns:ZMOV_10031SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZSD_10001">
      <wsdl:input message="tns:ZSD_10001SoapIn" />
      <wsdl:output message="tns:ZSD_10001SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZSD_10003">
      <wsdl:input message="tns:ZSD_10003SoapIn" />
      <wsdl:output message="tns:ZSD_10003SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZMOV_30005">
      <wsdl:input message="tns:ZMOV_30005SoapIn" />
      <wsdl:output message="tns:ZMOV_30005SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZMOV_10000">
      <wsdl:input message="tns:ZMOV_10000SoapIn" />
      <wsdl:output message="tns:ZMOV_10000SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZMOV_10002">
      <wsdl:input message="tns:ZMOV_10002SoapIn" />
      <wsdl:output message="tns:ZMOV_10002SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="rfcNetSoap" type="tns:rfcNetSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZMOV_10031">
      <soap:operation soapAction="http://tempuri.org/ZMOV_10031" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZSD_10001">
      <soap:operation soapAction="http://tempuri.org/ZSD_10001" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZSD_10003">
      <soap:operation soapAction="http://tempuri.org/ZSD_10003" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZMOV_30005">
      <soap:operation soapAction="http://tempuri.org/ZMOV_30005" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZMOV_10000">
      <soap:operation soapAction="http://tempuri.org/ZMOV_10000" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZMOV_10002">
      <soap:operation soapAction="http://tempuri.org/ZMOV_10002" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="rfcNetSoap12" type="tns:rfcNetSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZMOV_10031">
      <soap12:operation soapAction="http://tempuri.org/ZMOV_10031" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZSD_10001">
      <soap12:operation soapAction="http://tempuri.org/ZSD_10001" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZSD_10003">
      <soap12:operation soapAction="http://tempuri.org/ZSD_10003" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZMOV_30005">
      <soap12:operation soapAction="http://tempuri.org/ZMOV_30005" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZMOV_10000">
      <soap12:operation soapAction="http://tempuri.org/ZMOV_10000" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZMOV_10002">
      <soap12:operation soapAction="http://tempuri.org/ZMOV_10002" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="rfcNet">
    <wsdl:port name="rfcNetSoap" binding="tns:rfcNetSoap">
      <soap:address location="http://200.54.43.156/BLUMAR/rfcNet.asmx" />
    </wsdl:port>
    <wsdl:port name="rfcNetSoap12" binding="tns:rfcNetSoap12">
      <soap12:address location="http://200.54.43.156/BLUMAR/rfcNet.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>